body, html {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: 'Lato', sans-serif;
}


.navbar.navbar-2 .navbar-toggler-icon {
background-image: url('https://mdbootstrap.com/img/svg/hamburger2.svg?color=fff');
font-size: 2em;
}

.navbar-dark .navbar-nav .nav-link {
	font-size: 1.5em;
	letter-spacing: 0.1em;
	color: white;
}

.navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link:hover{
	font-size: 1.8em;
	color: white;
}

/* CSS for Hero-image */
.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("media/campus.PNG");
  height: 100%;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

@keyframes fadein {
  from { opacity: 0}
  to   { opacity: 1}
}


.hero-text {
  animation: fadein 2s;
  text-align: center;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  width: 100%;
}

.hr-line{ 
 	width: 20%;
    border-top: 2px solid white;

}

.hero-text button {

	border-radius: 50%;
}



/* About-me picture in the 2nd section*/

.container-fluid {
	margin: 0;
	padding: 0;
}


#w img {

	max-width: 100%;
	max-height: 100%;
}


#s {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("media/desert.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  color: white;
  height: 100%;
  padding: 5%;
}

#s p, #s h3 {
	width: 100%;
	padding: 20px;
	margin: 0;
}


/* END of About-me picture in the 2nd section*/

/*3rd Section */

#fixed {
	background: url("media/china.jpg") no-repeat center center fixed;
	display: table;
	position:relative;
	background-size: cover;
	padding-right: auto;
	color: white;
}

.padding {
	padding: 100px;
}

.in-row i , .in-row h2{
	width: 100%;
	text-align: center;
	padding: 10px;
}
.in-row a{
	width: 100%;
	text-align: center;
}

.box {
	border: 1px solid white;
	border-radius: 15px;

}

.fa-instagram {
	color: white;
}

.fa-facebook {
	color: white;
}

/*End of 3rd Section*/


/* This section is for  Extra large >= 1200px   */
@media (min-width: 1200px) {

#s {
	padding: 10%;
}


}


/* This section is for Large >= 992px  && <=1199px  */
@media (min-width: 992px) and (max-width: 1199px) {

#s {
	padding: 0;
}
#s h3{
	margin: 0;
	padding-bottom: 0: 
}
#s p {
	padding-top: 0;
}
}



/* This section is for Medium >= 768px  && <=991px  */
@media (min-width: 768px) and (max-width: 991px) {

/* About-me picture in the 2nd section*/
	#s p {
		font-size: 0.8em;
	}
	#s h3{
		padding: 0 0 0 2%;
		margin: 0;
	}
	#s p{
		padding: 2%;
		position: relative;
	}
	#s a{
		position: absolute;
		bottom: -26%;
		left: 2%;
		height: 35px;
	}

/* END of About-me picture in the 2nd section*/


}



/* This section is for Small Devices >=576px  && <=768px  */
@media (min-width: 576px) and (max-width: 767px) {

.navbar .navbar-brand img {

	width: 10rem;
	height: 5rem;
	
}

.hero-text h1 { /* Text on the hero image*/
  font-size: x-large;
}
.hero-text h2 { /* Text on the hero image*/
  font-size: large;
}


}


/* This section is for Extra Small <=576px  */
@media (max-width: 575px) {

.navbar .navbar-brand img {

	width: 10rem;
	height: 5rem;
	
}

.hero-text h1 { /* Text on the hero image*/
  font-size: x-large;
}
.hero-text h2 { /* Text on the hero image*/
  font-size: large;
}


}
